@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* You can add global styles to this file, and also import other style files */
@import "./partials/mixins";
@import "./partials/_colors.scss";
@import "./partials/variables";
@import "../components/Accordian/Accordion.style";
@import "../components/CarouselDiv/CarouselDiv.style";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: --black-color;
}

.container {
  .content {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 120vh;
  }

  .content .content-overlay {
    background: $overlay-dark;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;

    &__form__container {
      background-color: white;
      color: black;
      text-align: center;
      padding: 1rem;
      margin: 1rem;
      border-radius: 8px;
      margin-top: 5rem;

      .apply-now {
        background-color: blue;
        color: white;
        border: none;
        padding: 0.6rem 1.5rem;
        border-radius: 4px;
        font-size: 1rem;
        margin-top: 1rem;
      }
    }

    .details {
      color: white;
      padding: 1rem 1rem;

      &__name {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
      }
      &__description {
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        border-left: 1px solid white;
        padding-left: 0.5rem;
      }
      &__duration {
        line-height: 28px;
        padding: 0.5rem 0;
      }
    }
  }

  .content-image {
    height: 120vh;
  }

  .why-learn-video {
    color: $color-black;
    width: 100%;
    text-align: center;
    padding: 4rem 0px;

    &__seperator {
      border: 2px solid #196ae5;
      width: 35%;
      margin-top: 1rem;
    }
    &__icon {
      padding-top: 1.5rem;
      width: 96%;
    }
    &__section {
      display: none;
      justify-content: space-around;
      align-items: center;
      padding-top: 4rem;

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > p {
          font-size: 22px;
          font-weight: 500;
        }
      }

      &-item__image {
        border-radius: 50%;
        padding: 2rem;
        height: 96px;
        width: 96px;

        & > img {
          height: 96px;
          width: 96px;
        }
      }
    }
  }

  .curriculum-snapshot {
    background-color: #ecf4fe;
    padding: 4rem 0px;
    text-align: center;
  }

  .learning-outcome {
    padding: 4rem 0px;
    text-align: center;

    &__details {
      &__section-image {
        width: 90%;
      }
      &__section-text {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        & > ul li {
          margin: 1.5rem 1rem;
        }
      }

      p {
        font-size: 16px;
        font-weight: 400;
        padding: 1rem;
        text-align: left;
      }
    }
  }

  .testimonials {
    text-align: center;
  }
  .about-us {
    text-align: center;
    background: #f4f4f4;
    padding: 3rem 1rem 8rem 1rem;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .footer {
    background: #2a2691;
    text-align: center;
    padding: 1rem;

    &__button {
      color: inherit;
      font-size: 16px;
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 8px;
    }
  }

  @media (min-width: 400px) {
    .content {
      height: 75vh;
      // width: 100%;
    }

    .logo {
      height: 48px;
    }

    .content-details {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      margin-top: 2rem;

      &__form__container {
        width: 25%;
        background-color: white;
        border: 1px solid gray;
        padding: 1rem;
        border-radius: 8px;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .details {
        width: 50%;
      }
    }

    .why-learn-video {
      &__icon {
        width: 50%;
      }
      &__section {
        display: flex;
      }
    }

    .curriculum-snapshot {
      background-color: #ecf4fe;
      padding: 4rem 0px;
      text-align: center;
    }

    .learning-outcome {
      padding: 4rem 0px;
      text-align: center;
      &__details {
        & > p {
          text-align: center;
        }

        &__section {
          display: flex;
          justify-content: center;
          width: 80%;
          margin: 0 auto;
          flex-direction: row-reverse;

          &-image {
            flex-shrink: 8;
          }
        }
      }
    }
  }
}

.primary__seperator {
  border: 2px solid #196ae5;
  width: 35%;
  margin-top: 1rem;
}

.title {
  font-size: 22px;
  line-height: 28px;
  width: 60%;
  margin: 0 auto;
  font-weight: 500;
}

.logo {
  z-index: 4;
  height: 32px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.seperator {
  width: 4rem;
  margin: 0.7rem auto;
}

form > input,
form > select {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid rgba(168, 168, 168, 0.849);
  text-indent: 0.5rem;
  margin-bottom: 0.7rem;
  color: rgb(129, 129, 129);
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  font-size: 11px;
  color: rgb(128, 128, 128);
  span {
    padding: 0 0.5rem;
    text-align: justify;
  }
}

.leaf {
  list-style-image: url("../assets/black-tick.svg");
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}
